<div class="about">
  <% if(theme.github){ %>
  <div>github:&nbsp;<%- link_to('https://github.com/'+theme.github,theme.github,{external:true}) %></div>
  <% } %>
  <% if(theme.mail){ %>
  <div>mail:&nbsp;<%- mail_to(theme.mail) %></div>
  <% } %>
</div>