<% 
var count = 0;
if(is_archive()){ 
  var year = page.year;
  var month = page.month;
  if(typeof year == "undefined" || typeof month == "undefined"){
    count = site.posts.length;
  }
  else{
    site.posts.each(function(item){
      var itemYear = date(item.date,'YYYY');
      var itemMonth = date(item.date,'M');
      if(itemYear == year && itemMonth == month){
        count ++;
      }
    });
  }
}
else if(is_tag()){
  count = site.tags.findOne({'name':page.tag}).posts.length;
}
else if(is_category()){
  count = site.categories.findOne({'name':page.category}).posts.length;
}
%>
<section class="content-item archive">
  <h3><%= _p('count',count) %></h3>
  <div class="article-list">
  <% page.posts.each(function(item){ %>
  <%- partial('_partial/article/header',{item:item,index:true}) %>
  <% }); %>
  </div>
</section>
<%- partial('_partial/pagination') %>
