<% 
var items = site.categories.sort('name');
%>
<section class="content__item">
  <ul class="content__list">
  <% items.each(function(item){ %>
  <li class="content__list-item">
    <a class="content__list-link" href="<%= url_for(item.path) %>"><%= item.name %>(<%= item.posts.length %>)</a>
  </li>
  <% }); %>
  </ul>
</section>