<% 
var items = site.categories.sort('name');
%>
<section class="content-item archive categories">
  <h3><%= _p('categoryCount',items.length) %></h3>
  <ul class="archive-list">
  <% items.each(function(item){ %>
  <li class="archive-list-item"><a class="archive-list-link" href="<%= url_for(item.path) %>"><%= item.name %>(<%= item.posts.length %>)</a></li>
  <% }); %>
  </ul>
</section>