<% 
var count = site.posts.length;
var content = list_archives({show_count: true, type: "monthly",format:"YYYY/MM"});
content = content.replace(/(<\/a>)(<span class="archive-list-count">)(\d+)(<\/span>)/g,"($3)$1");
%>
<section class="content-item archive">
  <h3><%= _p('count',count) %></h3>
  <% if (site.posts.length){ %>
  <%- content %>
  <% } %>
</section>