<!DOCTYPE HTML>
<html class="html" lang="zh-CN">  
  <%- partial('_partial/head') %>
  <body class="body">
    <div class="content">
      <%- partial('_partial/header') %>
      <%- body %>
      <div class="content__push"></div>
    </div>
    <%- partial('_partial/footer') %>
  </body>
</html>
