<section class="content__item">
  <div class="content__list">
  <% site.posts.each(function(item){ %>
  <%- partial('_partial/article-header',{item:item,index:true}) %>
  <% }); %>
  </div>
</section>