<% 
var content = page.content;
var pattern = /\!\[(.*?)\]\((.*?)\)(?:\((.*?)\)){0,1}/g;
content = content.replace(pattern,"<div style=\"overflow-x:auto;width:100%;\"><a href=\"$2\" target=\"_blank\"><img src=\"$2\" alt=\"$1\" style=\"max-width:unset;width:700px;$3;\"/></a></div>");
page.content = content;
%>
<%- partial('_partial/article', {item: page, index: false}) %>