<section class="content__item content__item--search">
  <form class="search-form" name="searchForm" onsubmit="return false;">
      <span class="search-form__span">
          <input autocomplete="off" spellcheck="false" class="search-form__input" type="search" name="query" placeholder="请输入关键词"/>
      </span>
      <button id="searchButton" class="search-form__button" onclick="return searchTool.submitSearchForm();return false;">搜索</button>
  </form>
  <div class="content__list" id="searchResult">
  </div>
</section>
<div id="pagination" class="pagination" style="display:none">
    <span>
      <a class="pagination__link" href="JavaScript:void(0)" id="previousPage" onclick="return searchTool.previous();" title="prev">上一页</a>
      <a class="pagination__link" href="JavaScript:void(0)" id="nextPage" onclick="return searchTool.next();" title="next">下一页</a>
    </span>
</div>
<script>
var searchTool = (function(){
    var button = document.getElementById("searchButton");
    var baseUrl = window.location.protocol+"//"+window.location.host+"/";
    var container = document.getElementById("searchResult")
    var xmlHttpRequest= new XMLHttpRequest();

    if(typeof JSON === 'undefined' || typeof xmlHttpRequest === 'undefined'){
        button.disabled = true;
        button.className = "search-form__button--disabled "+button.className;
        showEmptyView("您的浏览器不支持搜索");
    }

    function createLink(title,link,dateString){
        var titleLinkNode = document.createElement('a');
        titleLinkNode.className = 'article-header__link';
        titleLinkNode.href = link;
        titleLinkNode.innerHTML = title;
        var articleNode = document.createElement('div');
        articleNode.className = 'article-header';
        articleNode.appendChild(titleLinkNode);
        return articleNode;
    }

    var url = window.location.protocol+"//<%- theme.algolia.appId %>-dsn.algolia.net/1/indexes/*/queries?x-algolia-application-id=<%- theme.algolia.appId %>&x-algolia-api-key=<%- theme.algolia.apiKey %>";
    var pagination = document.getElementById('pagination');
    var previousPage = document.getElementById('previousPage');
    var nextPage = document.getElementById('nextPage');
    var hitsPerPage = 5;
    var page = 0;

    function submitSearchForm(){
        if(button.disabled){
            return false;
        }
        page = 0;
        search();
        return false;
    }

    function next(){
        page ++;
        search();
        return false;
    }

    function previous(){
        page -- ;
        search();
        return false;
    }

    function search(){
        var query = searchForm.query.value;
        var params = "{\"requests\":[{\"indexName\":\"<%- theme.algolia.indexName %>\",\"params\":\"query="+query+"&hitsPerPage="+hitsPerPage+"&page="+page+"\"}]}";

        xmlHttpRequest.open("POST",url,true);
        xmlHttpRequest.onreadystatechange=function(){
            if (xmlHttpRequest.readyState==4 && xmlHttpRequest.status==200){
                var resultString = xmlHttpRequest.responseText;
                var resultJson = JSON.parse(resultString);
                searchCallback(resultJson);
            }
        }
        xmlHttpRequest.send(params);
    }

    function showEmptyView(content){
        pagination.style.display = "none";
        container.innerHTML = "";
        var contentElement = document.createElement("div");
        contentElement.className = "content__list-item content__list-item--empty";
        contentElement.innerHTML = content;
        container.appendChild(contentElement);
    }

    function searchCallback(resultJson){
        var result = resultJson.results[0];
        var hits = result.hits;
        var nbHits = result.nbHits;
        var nbPages = result.nbPages;
        if(hits.length <= 0){
            showEmptyView("找不到任何文章");
            return;
        }
        if(nbPages > 1){
            pagination.style.display = "";
        }
        else{
            pagination.style.display = "none";
        }
        if(page+1<nbPages){
            nextPage.style.display = "";
        }
        else{
            nextPage.style.display = "none";
        }
        if(page>0){
            previousPage.style.display = "";
        }
        else{
            previousPage.style.display = "none";
        }
        
        container.innerHTML = "";
        for(i in hits){
            var post = hits[i];
            var link = createLink(post.title,baseUrl + post.path,post.date);
            container.appendChild(link);
        }

    }
    return {submitSearchForm:submitSearchForm,previous:previous,next:next};
    
})();
</script>
