/*
Date: 24 Fev 2015
Author: Pedro Oliveira <kanytu@gmail . com>
*/

pre {
  color: #a9b7c6;
  background: #282b2e;
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
}

pre .number,
pre .literal,
pre .symbol,
pre .bullet {
  color: #6897BB;
}

pre .keyword,
pre .selector-tag,
pre .deletion {
  color: #cc7832;
}

pre .variable,
pre .template-variable,
pre .link {
  color: #629755;
}

pre .comment,
pre .quote {
  color: #808080;
}

pre .meta {
  color: #bbb529;
}

pre .string,
pre .attribute,
pre .addition {
  color: #6A8759;
}

pre .section,
pre .title,
pre .type {
  color: #ffc66d;
}

pre .name,
pre .selector-id,
pre .selector-class {
  color: #e8bf6a;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
