/*

Arduino® Light Theme - Stefania Mellai <s.mellai@arduino.cc>

*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #FFFFFF;
}

pre,
pre .subst {
  color: #434f54;
}

pre .keyword,
pre .attribute,
pre .selector-tag,
pre .doctag,
pre .name {
  color: #00979D;
}

pre .built_in,
pre .literal,
pre .bullet,
pre .code,
pre .addition {
  color: #D35400;
}

pre .regexp,
pre .symbol,
pre .variable,
pre .template-variable,
pre .link,
pre .selector-attr,
pre .selector-pseudo {
  color: #00979D;
}

pre .type,
pre .string,
pre .selector-id,
pre .selector-class,
pre .quote,
pre .template-tag,
pre .deletion {
  color: #005C5F;
}

pre .title,
pre .section {
  color: #880000;
  font-weight: bold;
}

pre .comment {
  color: rgba(149,165,166,.8);
}

pre .meta-keyword {
  color: #728E00;
}

pre .meta {
  color: #728E00;
  color: #434f54;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}

pre .function {
  color: #728E00;
}

pre .number {
  color: #8A7B52;  
}
