/*
Date: 17.V.2011
Author: pumbur <pumbur@pumbur.net>
*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #222;
}

pre,
pre .subst {
  color: #aaa;
}

pre .section {
  color: #fff;
}

pre .comment,
pre .quote,
pre .meta {
  color: #444;
}

pre .string,
pre .symbol,
pre .bullet,
pre .regexp {
  color: #ffcc33;
}

pre .number,
pre .addition {
  color: #00cc66;
}

pre .built_in,
pre .builtin-name,
pre .literal,
pre .type,
pre .template-variable,
pre .attribute,
pre .link {
  color: #32aaee;
}

pre .keyword,
pre .selector-tag,
pre .name,
pre .selector-id,
pre .selector-class {
  color: #6644aa;
}

pre .title,
pre .variable,
pre .deletion,
pre .template-tag {
  color: #bb1166;
}

pre .section,
pre .doctag,
pre .strong {
  font-weight: bold;
}

pre .emphasis {
  font-style: italic;
}
