/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: white;
  color: black;
}

pre .string,
pre .variable,
pre .template-variable,
pre .symbol,
pre .bullet,
pre .section,
pre .addition,
pre .attribute,
pre .link {
  color: #888;
}

pre .comment,
pre .quote,
pre .meta,
pre .deletion {
  color: #ccc;
}

pre .keyword,
pre .selector-tag,
pre .section,
pre .name,
pre .type,
pre .strong {
  font-weight: bold;
}

pre .emphasis {
  font-style: italic;
}
