/* Base16 Atelier Savanna Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntaxpreing/atelier-schemes/savanna) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Savanna Comment */
pre .comment,
pre .quote {
  color: #78877d;
}

/* Atelier-Savanna Red */
pre .variable,
pre .template-variable,
pre .attribute,
pre .tag,
pre .name,
pre .regexp,
pre .link,
pre .name,
pre .selector-id,
pre .selector-class {
  color: #b16139;
}

/* Atelier-Savanna Orange */
pre .number,
pre .meta,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .type,
pre .params {
  color: #9f713c;
}

/* Atelier-Savanna Green */
pre .string,
pre .symbol,
pre .bullet {
  color: #489963;
}

/* Atelier-Savanna Blue */
pre .title,
pre .section {
  color: #478c90;
}

/* Atelier-Savanna Purple */
pre .keyword,
pre .selector-tag {
  color: #55859b;
}

pre .deletion,
pre .addition {
  color: #171c19;
  display: inline-block;
  width: 100%;
}

pre .deletion {
  background-color: #b16139;
}

pre .addition {
  background-color: #489963;
}

pre {
  display: block;
  overflow-x: auto;
  background: #171c19;
  color: #87928a;
  padding 10px content-padding;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
