/* Base16 Atelier Dune Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntaxpreing/atelier-schemes/dune) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Dune Comment */
pre .comment,
pre .quote {
  color: #999580;
}

/* Atelier-Dune Red */
pre .variable,
pre .template-variable,
pre .attribute,
pre .tag,
pre .name,
pre .regexp,
pre .link,
pre .name,
pre .selector-id,
pre .selector-class {
  color: #d73737;
}

/* Atelier-Dune Orange */
pre .number,
pre .meta,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .type,
pre .params {
  color: #b65611;
}

/* Atelier-Dune Green */
pre .string,
pre .symbol,
pre .bullet {
  color: #60ac39;
}

/* Atelier-Dune Blue */
pre .title,
pre .section {
  color: #6684e1;
}

/* Atelier-Dune Purple */
pre .keyword,
pre .selector-tag {
  color: #b854d4;
}

pre {
  display: block;
  overflow-x: auto;
  background: #20201d;
  color: #a6a28c;
  padding 10px content-padding;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
