/* Base16 Atelier Lakeside Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntaxpreing/atelier-schemes/lakeside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Lakeside Comment */
pre .comment,
pre .quote {
  color: #7195a8;
}

/* Atelier-Lakeside Red */
pre .variable,
pre .template-variable,
pre .attribute,
pre .tag,
pre .name,
pre .regexp,
pre .link,
pre .name,
pre .selector-id,
pre .selector-class {
  color: #d22d72;
}

/* Atelier-Lakeside Orange */
pre .number,
pre .meta,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .type,
pre .params {
  color: #935c25;
}

/* Atelier-Lakeside Green */
pre .string,
pre .symbol,
pre .bullet {
  color: #568c3b;
}

/* Atelier-Lakeside Blue */
pre .title,
pre .section {
  color: #257fad;
}

/* Atelier-Lakeside Purple */
pre .keyword,
pre .selector-tag {
  color: #6b6bb8;
}

pre {
  display: block;
  overflow-x: auto;
  background: #161b1d;
  color: #7ea2b4;
  padding 10px content-padding;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
