/* Base16 Atelier Plateau Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntaxpreing/atelier-schemes/plateau) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Plateau Comment */
pre .comment,
pre .quote {
  color: #655d5d;
}

/* Atelier-Plateau Red */
pre .variable,
pre .template-variable,
pre .attribute,
pre .tag,
pre .name,
pre .regexp,
pre .link,
pre .name,
pre .selector-id,
pre .selector-class {
  color: #ca4949;
}

/* Atelier-Plateau Orange */
pre .number,
pre .meta,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .type,
pre .params {
  color: #b45a3c;
}

/* Atelier-Plateau Green */
pre .string,
pre .symbol,
pre .bullet {
  color: #4b8b8b;
}

/* Atelier-Plateau Blue */
pre .title,
pre .section {
  color: #7272ca;
}

/* Atelier-Plateau Purple */
pre .keyword,
pre .selector-tag {
  color: #8464c4;
}

pre .deletion,
pre .addition {
  color: #1b1818;
  display: inline-block;
  width: 100%;
}

pre .deletion {
  background-color: #ca4949;
}

pre .addition {
  background-color: #4b8b8b;
}

pre {
  display: block;
  overflow-x: auto;
  background: #f4ecec;
  color: #585050;
  padding 10px content-padding;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
