/* Base16 Atelier Cave Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntaxpreing/atelier-schemes/cave) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Cave Comment */
pre .comment,
pre .quote {
  color: #7e7887;
}

/* Atelier-Cave Red */
pre .variable,
pre .template-variable,
pre .attribute,
pre .regexp,
pre .link,
pre .tag,
pre .name,
pre .selector-id,
pre .selector-class {
  color: #be4678;
}

/* Atelier-Cave Orange */
pre .number,
pre .meta,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .type,
pre .params {
  color: #aa573c;
}

/* Atelier-Cave Green */
pre .string,
pre .symbol,
pre .bullet {
  color: #2a9292;
}

/* Atelier-Cave Blue */
pre .title,
pre .section {
  color: #576ddb;
}

/* Atelier-Cave Purple */
pre .keyword,
pre .selector-tag {
  color: #955ae7;
}

pre .deletion,
pre .addition {
  color: #19171c;
  display: inline-block;
  width: 100%;
}

pre .deletion {
  background-color: #be4678;
}

pre .addition {
  background-color: #2a9292;
}

pre {
  display: block;
  overflow-x: auto;
  background: #19171c;
  color: #8b8792;
  padding 10px content-padding;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
