/*

Brown Paper style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background:#b7a68e url(../images/brown-paper.png);
}

pre .keyword,
pre .selector-tag,
pre .literal {
  color:#005599;
  font-weight:bold;
}

pre,
pre .subst {
  color: #363c69;
}

pre .string,
pre .title,
pre .section,
pre .type,
pre .attribute,
pre .symbol,
pre .bullet,
pre .built_in,
pre .addition,
pre .variable,
pre .template-tag,
pre .template-variable,
pre .link,
pre .name {
  color: #2c009f;
}

pre .comment,
pre .quote,
pre .meta,
pre .deletion {
  color: #802022;
}

pre .keyword,
pre .selector-tag,
pre .literal,
pre .doctag,
pre .title,
pre .section,
pre .type,
pre .name,
pre .strong {
  font-weight: bold;
}

pre .emphasis {
  font-style: italic;
}
