/*
  codepen.io Embed Theme
  Author: Justin Perry <http://github.com/ourmaninamsterdam>
  Original theme - https://github.com/chriskempson/tomorrow-theme
*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #222;
  color: #fff;
}

pre .comment,
pre .quote {
  color: #777;
}

pre .variable,
pre .template-variable,
pre .tag,
pre .regexp,
pre .meta,
pre .number,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .params,
pre .symbol,
pre .bullet,
pre .link,
pre .deletion {
  color: #ab875d;
}

pre .section,
pre .title,
pre .name,
pre .selector-id,
pre .selector-class,
pre .type,
pre .attribute {
  color: #9b869b;
}

pre .string,
pre .keyword,
pre .selector-tag,
pre .addition {
  color: #8f9c6c;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
