/*

Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by Fabrício Tavares de Oliveira

*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #fff;
}

pre,
pre .subst {
  color: #000;
}

pre .string,
pre .meta,
pre .symbol,
pre .template-tag,
pre .template-variable,
pre .addition {
  color: #756bb1;
}

pre .comment,
pre .quote {
  color: #636363;
}

pre .number,
pre .regexp,
pre .literal,
pre .bullet,
pre .link {
  color: #31a354;
}

pre .deletion,
pre .variable {
  color: #88f;
}



pre .keyword,
pre .selector-tag,
pre .title,
pre .section,
pre .built_in,
pre .doctag,
pre .type,
pre .tag,
pre .name,
pre .selector-id,
pre .selector-class,
pre .strong {
  color: #3182bd;
}

pre .emphasis {
  font-style: italic;
}

pre .attribute {
  color: #e6550d;
}
