/*

Darcula color scheme from the JetBrains family of IDEs

*/


pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #2b2b2b;
}

pre {
  color: #bababa;
}

pre .strong,
pre .emphasis {
  color: #a8a8a2;
}

pre .bullet,
pre .quote,
pre .link,
pre .number,
pre .regexp,
pre .literal {
  color: #6896ba;
}

pre .code,
pre .selector-class {
  color: #a6e22e;
}

pre .emphasis {
  font-style: italic;
}

pre .keyword,
pre .selector-tag,
pre .section,
pre .attribute,
pre .name,
pre .variable {
  color: #cb7832;
}

pre .params {
  color: #b9b9b9;
}

pre .string {
  color: #6a8759;
}

pre .subst,
pre .type,
pre .built_in,
pre .builtin-name,
pre .symbol,
pre .selector-id,
pre .selector-attr,
pre .selector-pseudo,
pre .template-tag,
pre .template-variable,
pre .addition {
  color: #e0c46c;
}

pre .comment,
pre .deletion,
pre .meta {
  color: #7f7f7f;
}
