/*

Dark style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #444;
}

pre .keyword,
pre .selector-tag,
pre .literal,
pre .section,
pre .link {
  color: white;
}

pre,
pre .subst {
  color: #ddd;
}

pre .string,
pre .title,
pre .name,
pre .type,
pre .attribute,
pre .symbol,
pre .bullet,
pre .built_in,
pre .addition,
pre .variable,
pre .template-tag,
pre .template-variable {
  color: #d88;
}

pre .comment,
pre .quote,
pre .deletion,
pre .meta {
  color: #777;
}

pre .keyword,
pre .selector-tag,
pre .literal,
pre .title,
pre .section,
pre .doctag,
pre .type,
pre .name,
pre .strong {
  font-weight: bold;
}

pre .emphasis {
  font-style: italic;
}
