/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  color: #000;
  background: #f8f8ff;
}

pre .comment,
pre .quote {
  color: #408080;
  font-style: italic;
}

pre .keyword,
pre .selector-tag,
pre .literal,
pre .subst {
  color: #954121;
}

pre .number {
  color: #40a070;
}

pre .string,
pre .doctag {
  color: #219161;
}

pre .selector-id,
pre .selector-class,
pre .section,
pre .type {
  color: #19469d;
}

pre .params {
  color: #00f;
}

pre .title {
  color: #458;
  font-weight: bold;
}

pre .tag,
pre .name,
pre .attribute {
  color: #000080;
  font-weight: normal;
}

pre .variable,
pre .template-variable {
  color: #008080;
}

pre .regexp,
pre .link {
  color: #b68;
}

pre .symbol,
pre .bullet {
  color: #990073;
}

pre .built_in,
pre .builtin-name {
  color: #0086b3;
}

pre .meta {
  color: #999;
  font-weight: bold;
}

pre .deletion {
  background: #fdd;
}

pre .addition {
  background: #dfd;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
