/*

FAR Style (c) MajestiC <majestic2k@gmail.com>

*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #000080;
}

pre,
pre .subst {
  color: #0ff;
}

pre .string,
pre .attribute,
pre .symbol,
pre .bullet,
pre .built_in,
pre .builtin-name,
pre .template-tag,
pre .template-variable,
pre .addition {
  color: #ff0;
}

pre .keyword,
pre .selector-tag,
pre .section,
pre .type,
pre .name,
pre .selector-id,
pre .selector-class,
pre .variable {
  color: #fff;
}

pre .comment,
pre .quote,
pre .doctag,
pre .deletion {
  color: #888;
}

pre .number,
pre .regexp,
pre .literal,
pre .link {
  color: #0f0;
}

pre .meta {
  color: #008080;
}

pre .keyword,
pre .selector-tag,
pre .title,
pre .section,
pre .name,
pre .strong {
  font-weight: bold;
}

pre .emphasis {
  font-style: italic;
}
