/*
Description: Foundation 4 docs style forpre.js
Author: Dan Allen <dan.j.allen@gmail.com>
Website: http://foundation.zurb.com/docs/
Version: 1.0
Date: 2013-04-02
*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #eee; color: black;
}

pre .link,
pre .emphasis,
pre .attribute,
pre .addition {
  color: #070;
}

pre .emphasis {
  font-style: italic;
}

pre .strong,
pre .string,
pre .deletion {
  color: #d14;
}

pre .strong {
  font-weight: bold;
}

pre .quote,
pre .comment {
  color: #998;
  font-style: italic;
}

pre .section,
pre .title {
  color: #900;
}

pre .class pre .title,
pre .type {
  color: #458;
}

pre .variable,
pre .template-variable {
  color: #336699;
}

pre .bullet {
  color: #997700;
}

pre .meta {
  color: #3344bb;
}

pre .code,
pre .number,
pre .literal,
pre .keyword,
pre .selector-tag {
  color: #099;
}

pre .regexp {
  background-color: #fff0ff;
  color: #880088;
}

pre .symbol {
  color: #990073;
}

pre .tag,
pre .name,
pre .selector-id,
pre .selector-class {
  color: #007700;
}
