/*

grayscale style (c) MY Sun <simonmysun@gmail.com>

*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  color: #333;
  background: #fff;
}

pre .comment,
pre .quote {
  color: #777;
  font-style: italic;
}

pre .keyword,
pre .selector-tag,
pre .subst {
  color: #333;
  font-weight: bold;
}

pre .number,
pre .literal {
  color: #777;
}

pre .string,
pre .doctag,
pre .formula {
  color: #333;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2O8e/fufwYGBgZBQUEQxcCIIfDu3Tuwivfv30NUoAsAALHpFMMLqZlPAAAAAElFTkSuQmCC) repeat;
}

pre .title,
pre .section,
pre .selector-id {
  color: #000;
  font-weight: bold;
}

pre .subst {
  font-weight: normal;
}

pre .class pre .title,
pre .type,
pre .name {
  color: #333;
  font-weight: bold;
}

pre .tag {
  color: #333;
}

pre .regexp {
    color: #333;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAN37979r6yszIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQDexSef15DBCwAAAABJRU5ErkJggg==) repeat;
}

pre .symbol,
pre .bullet,
pre .link {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAO7d+/+z4gsBhJwdXVlhAvCBECKwIIwAbhKZBUwBQA6hBpm5efZsgAAAABJRU5ErkJggg==) repeat;
}

pre .built_in,
pre .builtin-name {
  color: #000;
  text-decoration: underline;
}

pre .meta {
  color: #999;
  font-weight: bold;
}

pre .deletion {
  color: #fff;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAE0lEQVQIW2MMDQ39zzhz5kwIAQAyxweWgUHd1AAAAABJRU5ErkJggg==) repeat;
}

pre .addition {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALUlEQVQYV2N89+7dfwYk8P79ewZBQUFkIQZGOiu6e/cuiptQHAPl0NtNxAQBAM97Oejj3Dg7AAAAAElFTkSuQmCC) repeat;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
