/*

Gruvbox style (light) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox)

*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #fbf1c7;
}

pre,
pre .subst {
  color: #3c3836;
}

/* Gruvbox Red */
pre .deletion,
pre .formula,
pre .keyword,
pre .link,
pre .selector-tag {
  color: #9d0006;
}

/* Gruvbox Blue */
pre .built_in,
pre .emphasis,
pre .name,
pre .quote,
pre .strong,
pre .title,
pre .variable {
  color: #076678;
}

/* Gruvbox Yellow */
pre .attr,
pre .params,
pre .template-tag,
pre .type {
  color: #b57614;
}

/* Gruvbox Purple */
pre .builtin-name,
pre .doctag,
pre .literal,
pre .number {
  color: #8f3f71;
}

/* Gruvbox Orange */
pre .code,
pre .meta,
pre .regexp,
pre .selector-id,
pre .template-variable {
  color: #af3a03;
}

/* Gruvbox Green */
pre .addition,
pre .meta-string,
pre .section,
pre .selector-attr,
pre .selector-class,
pre .string,
pre .symbol {
  color: #79740e;
}

/* Gruvbox Aqua */
pre .attribute,
pre .bullet,
pre .class,
pre .function,
pre .function pre .keyword,
pre .meta-keyword,
pre .selector-pseudo,
pre .tag {
  color: #427b58;
}

/* Gruvbox Gray */
pre .comment {
  color: #928374;
}

/* Gruvbox Purple */
pre .link_label,
pre .literal,
pre .number {
  color: #8f3f71;
}

pre .comment,
pre .emphasis {
  font-style: italic;
}

pre .section,
pre .strong,
pre .tag {
  font-weight: bold;
}
