/*
 * Hopscotch
 * by Jan T. Sott
 * https://github.com/idleberg/Hopscotch
 *
 * This work is licensed under the Creative Commons CC0 1.0 Universal License
 */

/* Comment */
pre .comment,
pre .quote {
  color: #989498;
}

/* Red */
pre .variable,
pre .template-variable,
pre .attribute,
pre .tag,
pre .name,
pre .selector-id,
pre .selector-class,
pre .regexp,
pre .link,
pre .deletion {
  color: #dd464c;
}

/* Orange */
pre .number,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .type,
pre .params {
  color: #fd8b19;
}

/* Yellow */
pre .class pre .title {
  color: #fdcc59;
}

/* Green */
pre .string,
pre .symbol,
pre .bullet,
pre .addition {
  color: #8fc13e;
}

/* Aqua */
pre .meta {
  color: #149b93;
}

/* Blue */
pre .function,
pre .section,
pre .title {
  color: #1290bf;
}

/* Purple */
pre .keyword,
pre .selector-tag {
  color: #c85e7c;
}

pre {
  display: block;
  background: #322931;
  color: #b9b5b8;
  padding 10px content-padding;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
