/*
  IR_Black style (c) Vasily Mikhailitchenko <vaskas@programica.ru>
*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #000;
  color: #f8f8f8;
}

pre .comment,
pre .quote,
pre .meta {
  color: #7c7c7c;
}

pre .keyword,
pre .selector-tag,
pre .tag,
pre .name {
  color: #96cbfe;
}

pre .attribute,
pre .selector-id {
  color: #ffffb6;
}

pre .string,
pre .selector-attr,
pre .selector-pseudo,
pre .addition {
  color: #a8ff60;
}

pre .subst {
  color: #daefa3;
}

pre .regexp,
pre .link {
  color: #e9c062;
}

pre .title,
pre .section,
pre .type,
pre .doctag {
  color: #ffffb6;
}

pre .symbol,
pre .bullet,
pre .variable,
pre .template-variable,
pre .literal {
  color: #c6c5fe;
}

pre .number,
pre .deletion {
  color:#ff73fd;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
