/*
    Name:     Kimbie (light)
    Author:   Jan T. Sott
    License:  Creative Commons Attribution-ShareAlike 4.0 Unported License
    URL:      https://github.com/idleberg/Kimbiepre.js
*/

/* Kimbie Comment */
pre .comment,
pre .quote {
  color: #a57a4c;
}

/* Kimbie Red */
pre .variable,
pre .template-variable,
pre .tag,
pre .name,
pre .selector-id,
pre .selector-class,
pre .regexp,
pre .meta {
  color: #dc3958;
}

/* Kimbie Orange */
pre .number,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .type,
pre .params,
pre .deletion,
pre .link {
  color: #f79a32;
}

/* Kimbie Yellow */
pre .title,
pre .section,
pre .attribute {
  color: #f06431;
}

/* Kimbie Green */
pre .string,
pre .symbol,
pre .bullet,
pre .addition {
  color: #889b4a;
}

/* Kimbie Purple */
pre .keyword,
pre .selector-tag,
pre .function {
  color: #98676a;
}

pre {
  display: block;
  overflow-x: auto;
  background: #fbebd4;
  color: #84613d;
  padding 10px content-padding;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
