/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #23241f;
}

pre,
pre .tag,
pre .subst {
  color: #f8f8f2;
}

pre .strong,
pre .emphasis {
  color: #a8a8a2;
}

pre .bullet,
pre .quote,
pre .number,
pre .regexp,
pre .literal,
pre .link {
  color: #ae81ff;
}

pre .code,
pre .title,
pre .section,
pre .selector-class {
  color: #a6e22e;
}

pre .strong {
  font-weight: bold;
}

pre .emphasis {
  font-style: italic;
}

pre .keyword,
pre .selector-tag,
pre .name,
pre .attr {
  color: #f92672;
}

pre .symbol,
pre .attribute {
  color: #66d9ef;
}

pre .params,
pre .class pre .title {
  color: #f8f8f2;
}

pre .string,
pre .type,
pre .built_in,
pre .builtin-name,
pre .selector-id,
pre .selector-attr,
pre .selector-pseudo,
pre .addition,
pre .variable,
pre .template-variable {
  color: #e6db74;
}

pre .comment,
pre .deletion,
pre .meta {
  color: #75715e;
}
