/*
  Five-color theme from a single blue hue.
*/
pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #eaeef3;
}

pre {
  color: #00193a;
}

pre .keyword,
pre .selector-tag,
pre .title,
pre .section,
pre .doctag,
pre .name,
pre .strong {
  font-weight: bold;
}

pre .comment {
  color: #738191;
}

pre .string,
pre .title,
pre .section,
pre .built_in,
pre .literal,
pre .type,
pre .addition,
pre .tag,
pre .quote,
pre .name,
pre .selector-id,
pre .selector-class {
  color: #0048ab;
}

pre .meta,
pre .subst,
pre .symbol,
pre .regexp,
pre .attribute,
pre .deletion,
pre .variable,
pre .template-variable,
pre .link,
pre .bullet {
  color: #4c81c9;
}

pre .emphasis {
  font-style: italic;
}
