/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #272822; color: #ddd;
}

pre .tag,
pre .keyword,
pre .selector-tag,
pre .literal,
pre .strong,
pre .name {
  color: #f92672;
}

pre .code {
  color: #66d9ef;
}

pre .class pre .title {
  color: white;
}

pre .attribute,
pre .symbol,
pre .regexp,
pre .link {
  color: #bf79db;
}

pre .string,
pre .bullet,
pre .subst,
pre .title,
pre .section,
pre .emphasis,
pre .type,
pre .built_in,
pre .builtin-name,
pre .selector-attr,
pre .selector-pseudo,
pre .addition,
pre .variable,
pre .template-tag,
pre .template-variable {
  color: #a6e22e;
}

pre .comment,
pre .quote,
pre .deletion,
pre .meta {
  color: #75715e;
}

pre .keyword,
pre .selector-tag,
pre .literal,
pre .doctag,
pre .title,
pre .section,
pre .type,
pre .selector-id {
  font-weight: bold;
}
