/**
 * Obsidian style
 * ported by Alexander Marenin (http://github.com/ioncreature)
 */

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #282b2e;
}

pre .keyword,
pre .selector-tag,
pre .literal,
pre .selector-id {
  color: #93c763;
}

pre .number {
  color: #ffcd22;
}

pre {
  color: #e0e2e4;
}

pre .attribute {
  color: #668bb0;
}

pre .code,
pre .class pre .title,
pre .section {
  color: white;
}

pre .regexp,
pre .link {
  color: #d39745;
}

pre .meta {
  color: #557182;
}

pre .tag,
pre .name,
pre .bullet,
pre .subst,
pre .emphasis,
pre .type,
pre .built_in,
pre .selector-attr,
pre .selector-pseudo,
pre .addition,
pre .variable,
pre .template-tag,
pre .template-variable {
  color: #8cbbad;
}

pre .string,
pre .symbol {
  color: #ec7600;
}

pre .comment,
pre .quote,
pre .deletion {
  color: #818e96;
}

pre .selector-class {
  color: #A082BD
}

pre .keyword,
pre .selector-tag,
pre .literal,
pre .doctag,
pre .title,
pre .section,
pre .type,
pre .name,
pre .strong {
  font-weight: bold;
}
