/* Ocean Dark Theme */
/* https://github.com/gavsiu */
/* Original theme - https://github.com/chriskempson/base16 */

/* Ocean Comment */
pre .comment,
pre .quote {
  color: #65737e;
}

/* Ocean Red */
pre .variable,
pre .template-variable,
pre .tag,
pre .name,
pre .selector-id,
pre .selector-class,
pre .regexp,
pre .deletion {
  color: #bf616a;
}

/* Ocean Orange */
pre .number,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .type,
pre .params,
pre .meta,
pre .link {
  color: #d08770;
}

/* Ocean Yellow */
pre .attribute {
  color: #ebcb8b;
}

/* Ocean Green */
pre .string,
pre .symbol,
pre .bullet,
pre .addition {
  color: #a3be8c;
}

/* Ocean Blue */
pre .title,
pre .section {
  color: #8fa1b3;
}

/* Ocean Purple */
pre .keyword,
pre .selector-tag {
  color: #b48ead;
}

pre {
  display: block;
  overflow-x: auto;
  background: #2b303b;
  color: #c0c5ce;
  padding 10px content-padding;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
