/*
    Paraíso (dark)
    Created by Jan T. Sott (http://github.com/idleberg)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
*/

/* Paraíso Comment */
pre .comment,
pre .quote {
  color: #8d8687;
}

/* Paraíso Red */
pre .variable,
pre .template-variable,
pre .tag,
pre .name,
pre .selector-id,
pre .selector-class,
pre .regexp,
pre .link,
pre .meta {
  color: #ef6155;
}

/* Paraíso Orange */
pre .number,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .type,
pre .params,
pre .deletion {
  color: #f99b15;
}

/* Paraíso Yellow */
pre .title,
pre .section,
pre .attribute {
  color: #fec418;
}

/* Paraíso Green */
pre .string,
pre .symbol,
pre .bullet,
pre .addition {
  color: #48b685;
}

/* Paraíso Purple */
pre .keyword,
pre .selector-tag {
  color: #815ba4;
}

pre {
  display: block;
  overflow-x: auto;
  background: #2f1e2e;
  color: #a39e9b;
  padding 10px content-padding;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
