/*

Pojoaque Style by Jason Tate
http://web-cms-designs.com/ftopict-10-pojoaque-style-forpre-js-codepreer.html
Based on Solarized Style from http://ethanschoonover.com/solarized

*/

pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  color: #dccf8f;
  background: url(../images/pojoaque.jpg) repeat scroll left top #181914;
}

pre .comment,
pre .quote {
  color: #586e75;
  font-style: italic;
}

pre .keyword,
pre .selector-tag,
pre .literal,
pre .addition {
  color: #b64926;
}

pre .number,
pre .string,
pre .doctag,
pre .regexp {
  color: #468966;
}

pre .title,
pre .section,
pre .built_in,
pre .name {
  color: #ffb03b;
}

pre .variable,
pre .template-variable,
pre .class pre .title,
pre .type,
pre .tag {
  color: #b58900;
}

pre .attribute {
  color: #b89859;
}

pre .symbol,
pre .bullet,
pre .link,
pre .subst,
pre .meta {
  color: #cb4b16;
}

pre .deletion {
  color: #dc322f;
}

pre .selector-id,
pre .selector-class {
  color: #d3a60c;
}

pre .formula {
  background: #073642;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
