/*

PureBASIC native IDE style ( version 1.0 - April 2016 )

by Tristano Ajmone <tajmone@gmail.com>

Public Domain

NOTE_1:	PureBASIC code syntaxpreing only applies the following classes:
			pre .comment
			pre .function
			pre .keywords
			pre .string
			pre .symbol

		Other classes are added here for the benefit of styling other languages with the look and feel of PureBASIC native IDE style.
		If you need to customize a stylesheet for PureBASIC only, remove all non-relevant classes -- PureBASIC-related classes are followed by
		a "--- used for PureBASIC ... ---" comment on same line.

NOTE_2:	Color names provided in comments were derived using "Name that Color" online tool:
			http://chir.ag/projects/name-that-color
*/

pre { /* Common set of rules required bypre.js (don'r remove!) */
	display: block;
	overflow-x: auto;
	padding 10px content-padding;
	background: #FFFFDF; /* Half and Half (approx.) */
/* --- Uncomment to add PureBASIC native IDE styled font!
	font-family: Consolas;
*/
}

pre, /* --- used for PureBASIC base color --- */
pre .type,  /* --- used for PureBASIC Procedures return type --- */
pre .function, /* --- used for wrapping PureBASIC Procedures definitions --- */
pre .name,
pre .number,
pre .attr,
pre .params,
pre .subst {
	color: #000000; /* Black */
}

pre .comment, /* --- used for PureBASIC Comments --- */
pre .regexp,
pre .section,
pre .selector-pseudo,
pre .addition {
	color: #00AAAA; /* Persian Green (approx.) */
}

pre .title, /* --- used for PureBASIC Procedures Names --- */
pre .tag,
pre .variable,
pre .code  {
	color: #006666; /* Blue Stone (approx.) */
}

pre .keyword, /* --- used for PureBASIC Keywords --- */
pre .class,
pre .meta-keyword,
pre .selector-class,
pre .built_in,
pre .builtin-name {
	color: #006666; /* Blue Stone (approx.) */
	font-weight: bold;
}

pre .string, /* --- used for PureBASIC Strings --- */
pre .selector-attr {
	color: #0080FF; /* Azure Radiance (approx.) */
}

pre .symbol, /* --- used for PureBASIC Constants --- */
pre .link,
pre .deletion,
pre .attribute {
	color: #924B72; /* Cannon Pink (approx.) */
}

pre .meta,
pre .literal,
pre .selector-id {
	color: #924B72; /* Cannon Pink (approx.) */
	font-weight: bold;
}

pre .strong,
pre .name {
	font-weight: bold;
}

pre .emphasis {
	font-style: italic;
}
