/*

Qt Creator light color scheme

*/


pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #ffffff;
}

pre,
pre .subst,
pre .tag,
pre .title {
  color: #000000;
}

pre .strong,
pre .emphasis {
  color: #000000;
}

pre .bullet,
pre .quote,
pre .number,
pre .regexp,
pre .literal {
  color: #000080;
}

pre .code
pre .selector-class {
  color: #800080;
}

pre .emphasis,
pre .stronge,
pre .type {
  font-style: italic;
}

pre .keyword,
.highlight .selector-tag,
.highlight .function,
.highlight .section,
.highlight .symbol,
.highlight .name {
  color: #808000;
}

.highlight .attribute {
  color: #800000;
}

.highlight .variable,
.highlight .params,
.highlight .class .highlight .title {
  color: #0055AF;
}

.highlight .string,
.highlight .selector-id,
.highlight .selector-attr,
.highlight .selector-pseudo,
.highlight .type,
.highlight .built_in,
.highlight .builtin-name,
.highlight .template-tag,
.highlight .template-variable,
.highlight .addition,
.highlight .link {
  color: #008000;
}

.highlight .comment,
.highlight .meta,
.highlight .deletion {
  color: #008000;
}
