/*

Qt Creator dark color scheme

*/


pre {
  display: block;
  overflow-x: auto;
  padding 10px content-padding;
  background: #000000;
}

pre,
pre .subst,
pre .tag,
pre .title {
  color: #aaaaaa;
}

pre .strong,
pre .emphasis {
  color: #a8a8a2;
}

pre .bullet,
pre .quote,
pre .number,
pre .regexp,
pre .literal {
  color: #ff55ff;
}

pre .code
pre .selector-class {
  color: #aaaaff;
}

pre .emphasis,
pre .stronge,
pre .type {
  font-style: italic;
}

pre .keyword,
pre .selector-tag,
pre .function,
pre .section,
pre .symbol,
pre .name {
  color: #ffff55;
}

pre .attribute {
  color: #ff5555;
}

pre .variable,
pre .params,
pre .class pre .title {
  color: #8888ff;
}

pre .string,
pre .selector-id,
pre .selector-attr,
pre .selector-pseudo,
pre .type,
pre .built_in,
pre .builtin-name,
pre .template-tag,
pre .template-variable,
pre .addition,
pre .link {
  color: #ff55ff;
}

pre .comment,
pre .meta,
pre .deletion {
  color: #55ffff;
}
