@import '_partial/variable'

html,body
  height 100%
  width 100%
  margin-top 0
  margin-left 0
  margin-bottom 0
  margin-right 0
  padding-top 0
  padding-left 0
  padding-bottom 0
  padding-right 0
  font-size 16px
  position relative
  font-family font-article

h1
  width 500px
  height 50px
  line-height 50px
  text-align center 
  position absolute
  top 50%
  left 50%
  margin-left -250px
  margin-top -25px
  span
    color lighten(primary-color,50%)
  a
    text-decoration none
    color primary-color
    &:hover
      text-decoration underline