@import 'nib'
@import '_partial/variables'
@import '_partial/icon'
@import '_partial/normalize'
@import '_partial/content'
$highlight_theme = hexo-config('highlight_theme')
unless $highlight_theme
  $highlight_theme = 'atom-one-light'
$path = '_highlight/' + $highlight_theme 
if $highlight_theme 
  @import $path
