$highlight_theme = hexo-config("highlight_theme")

@import 'nib'

@import '_partial/variable'
@import '_partial/layout'

@import '_partial/header'
@import '_partial/footer'
@import '_partial/cd-top'
@import '_partial/pagination'
@import '_partial/article'
@import '_partial/date'
@import '_partial/archive'
@import '_partial/tags'
@import '_partial/categories'
@import '_partial/search'
@import '_partial/about'
@import '_partial/toc'
@import '_partial/katex'
@import '_partial/staticman'

@import '_highlight/'+$highlight_theme
