<% if (item.tags && item.tags.length){
  var tags = [];
  item.tags.forEach(function(tag){
    tags.push('<a href="' + url_for(tag.path) + '">' + tag.name + '</a>');
  });
%>
<span class="tag icon-tag">
  <%- tags.join('') %>
</span>
<% } %>