<% if(is_home() || is_post() || (page.layout === 'tags' && site.tags.length > 15) || (page.layout === 'categories' && site.categories.length > 15)){ %>

<div class="cd-top">
    <a class="to-top icon-up" href="#" title="<%- __('toTop') %>"></a>
    <% if(is_post() && theme.staticman){ %>
    <a class="to-bottom icon-down" href="#comment" title="<%- __('toComment') %>" ></a>
    <% }else{ %>
    <a class="to-bottom icon-down" href="#footer" title="<%- __('toBottom') %>" ></a>
    <% } %>
</div>
<% } %>