<%
var joinLinkArray = function(linkArray,titleArray,glue){
    if(typeof linkArray === "undefined" || typeof titleArray === "undefined" || linkArray.length != titleArray.length){
        return "";
    }
    if(typeof glue === "undefined"){
        glue = "&nbsp;&amp;&nbsp;"
    }
    var array = [];
    for(var i in linkArray){
        var link = linkArray[i];
        var title = titleArray[i];
        array.push("<a class=\"footer__link\" href=\""+link+"\" title=\""+title+"\" target=\"_blank\">"+title+"</a>")
    }
    return array.join(glue);
}
var copyright = new Date().getFullYear() + "&nbsp;";
if (config.author){
    copyright += config.author;
}else{
    copyright += config.title;
}
var linkArray = [];
linkArray.push("http://hexo.io");
linkArray.push("https://github.com/zongren/hexo-theme-nojs");
var titleArray = [];
titleArray.push("Hexo");
titleArray.push("nojs");
%>
<footer class="footer">
    <span class="footer__item">
        Copyright&nbsp;<%- copyright %>
        Powered&nbsp;by&nbsp;<%- joinLinkArray(linkArray,titleArray) %>
        <% if(theme.leancloud.enable){ %>
        <span id="counterLabel">&nbsp;本站访问次数：</span><span id="counter">0</span>
        <% } %>
    </span>
</footer>

<% if(theme.leancloud.enable){ %>
<%- partial('leancloud') %>
<% } %>