.article
  background #fff
  margin-bottom 50px
  position relative
  .header
    padding-top content-padding
    padding-left content-padding
    padding-right content-padding
    .title
      overflow-wrap break-word
      text-transform uppercase
      font-size 24px
      font-weight bold
  .content
    padding-top content-padding
    padding-left content-padding
    padding-right content-padding
    img
      max-width 100%
      margin-left auto
      margin-right auto
      display block
      
    h1,h2,h3,h4,h5,h6
      text-transform uppercase
      padding-top 10px
      padding-bottom 10px
      overflow-wrap break-word
    ul,ol
      list-style-position inside
    p
      padding-top 5px
      padding-bottom 5px
      line-height 32px
    li
      padding-top 5px
      padding-bottom 5px
    code
      color code-color
      overflow-wrap break-word
    a 
      color link-color
      word-wrap normal
      overflow-wrap break-word
    .highlight
      margin-top 10px
      margin-bottom 10px
      margin-left 0 - content-padding
      margin-right 0 - content-padding
      overflow-x auto
      table
        width 100%
        border-collapse collapse
        border-spacing 0
        
    > table
      table-layout fixed
      width 100%
      margin-top 5px
      margin-bottom 5px
      outline 0
      border-collapse collapse
      border-spacing 0
      border-top-width 1px
      border-top-style solid
      border-top-color lighten(primary-color,50%)
      border-left-width 1px
      border-left-style solid
      border-left-color lighten(primary-color,50%)
      th
        border-bottom-width 2px
        border-bottom-style solid
        border-bottom-color lighten(primary-color,30%)
        border-right-width 1px
        border-right-style solid
        border-right-color lighten(primary-color,50%)
        padding-top 5px
        padding-left 5px
        padding-bottom 5px
        padding-right 5px
        outline 0
        text-align left
        overflow-wrap break-word
      td
        border-bottom-width 1px
        border-bottom-style solid
        border-bottom-color lighten(primary-color,50%)
        border-right-width 1px
        border-right-style solid
        border-right-color lighten(primary-color,50%)
        padding-top 5px
        padding-left 5px
        padding-bottom 5px
        padding-right 5px
        outline 0
        overflow-wrap break-word
  .footer
    padding-top content-padding
    padding-left content-padding
    padding-bottom content-padding
    padding-right content-padding
    .category
      padding-top 10px
    .tag
      padding-top 10px