// general
html,body
  height 100%
html
  background-color background-color
  overflow-wrap break-word
body
  font-family font-default
  margin-left auto
  margin-right auto
  max-width content-width
a
  color primary-color
  text-decoration none
  transition-property color,background-color
  transition-duration .3s
  transition-timing-function ease-in-out
  transition-delay 0s
  
::selection 
  background primary-color
  color #fff

// header
header
  height header-height
  line-height header-height
  position relative
  padding-left header-height
  span
    padding-left 20px
    padding-right 20px
    overflow-wrap normal
    white-space nowrap
    overflow-x auto
    right menu-width
    position absolute
    left header-height
  img 
    position absolute
    left 0
    height header-height
    width header-height
  nav
    position absolute
    right 0
    top 0
    ul
      padding-left 0
      margin 0
      list-style-type none
      text-align right
      width menu-width
      li
        display inline-block
        margin 0
        a.navigation
          width 30px
          text-align center
          display inline-block
          vertical-align top
          line-height header-height
          color primary-color
          &:hover
            color #fff
            background-color primary-color
// footer
body>footer
  height footer-height
  line-height footer-height
  position relative
  font-size 12px
  padding-left 10px
  span.powered-by 
    text-align right
    position absolute
    right 0
  a
    display inline-block
    line-height footer-height
    padding-left 3px
    padding-right 3px
    &:hover
      background-color primary-color
      color #fff
      text-decoration none

// cd-top
.cd-top
  width 100%
  max-width content-width + footer-height * 0.5
  height footer-height
  line-height footer-height
  position fixed
  bottom 0
  text-align right
  pointer-events none
  a
    pointer-events auto
    width footer-height * 0.5
    display inline-block
    height footer-height * 0.5
    line-height footer-height * 0.5
    text-align center
    text-decoration none
    position absolute
    right 0
    &:hover
      color #fff
      background-color primary-color
  a.to-top 
    top 0
  a.to-bottom
    bottom 0
@media screen and (max-width: content-width + footer-height)
  .cd-top
    display none

// content
.content
  min-height 100%
  height auto !important
  height 100%
  margin-bottom - footer-height
  .push
    height footer-height
  section.content-item
    margin-bottom 50px
    background-color #fff
    padding content-padding
    .highlight
      margin-left 0 - content-padding
      margin-right 0 - content-padding
      overflow-x auto
      table
        width 100%
        border-collapse collapse
        border-spacing 0
        td
          padding 0
      pre
        margin 0
  article      
    .article-content
      .video-container
        position relative
        padding-top 56.25%
        height 0
        overflow hidden
        iframe 
          position absolute
          top 0
          left 0
          width 100%
          height 100%
          margin-top 0
      img
        max-width 100%
        margin-left auto
        margin-right auto
        display block
        margin-top content-padding
      line-height 2
      > table
        table-layout fixed
        width 100%
        margin-top 5px
        margin-bottom 5px
        outline 0
        border-collapse collapse
        border-spacing 0
        border-top-width 1px
        border-top-style solid
        border-top-color primary-color
        border-left-width 1px
        border-left-style solid
        border-left-color primary-color
        th
          border-bottom-width 10px
          border-bottom-style solid
          border-bottom-color primary-color
          border-right-width 1px
          border-right-style solid
          border-right-color primary-color
          padding-top 5px
          padding-left 5px
          padding-bottom 5px
          padding-right 5px
          outline 0
          text-align left
          background-color lighten(primary-color,50%)
          color text-color
        td
          border-bottom-width 1px
          border-bottom-style solid
          border-bottom-color primary-color
          border-right-width 1px
          border-right-style solid
          border-right-color primary-color
          padding-top 5px
          padding-left 5px
          padding-bottom 5px
          padding-right 5px
          outline 0
        
    figure
      line-height 1.5
      
    .toc
      color primary-color
      a
        line-height 1.5
    .article-content,
    .toc
      a
        position relative
        color primary-color
        text-decoration none
        &:hover
          color primary-color
        &:before
          content ""
          position absolute
          width 100%
          height 2px
          bottom -4px
          left 0
          background-color primary-color
          visibility hidden
          transform scaleX(0)
          transform-origin 0
          transition all .3s ease-in-out 0s
        &:hover:before
          visibility visible
          transform scaleX(1)
    blockquote
      padding 0 20px
      position relative
      border-left 5px solid primary-color
      margin-top 10px
      margin-bottom 10px
      margin-left - content-padding
      margin-right - content-padding
      cite
        &:before
          content "—"
          padding 0px 0.3em
      a
        &:hover
          background-color #fff      
    .article-footer
      overflow-wrap normal
      white-space nowrap
      overflow-x auto
      overflow-y hidden
      height header-height
      line-height header-height
      margin-top - content-padding
      margin-left - content-padding
      margin-right - content-padding
      margin-bottom - content-padding
      margin-top content-padding
      .category
        padding-left content-padding
      .tag
        padding-left content-padding
      a
        display inline-block
        vertical-align top
        line-height header-height
        padding-left 5px
        padding-right 5px
        color primary-color
      a.more-link,
      a.comment-link
        &:hover
          color #fff
      .icon-category,
      .icon-tag
        a
          &:hover
            color #fff
            background-color primary-color
        &:before
          display inline-block
          line-height header-height
          vertical-align top
      .more-link
        width 100%
        text-align center
        padding 0
        &.half
          width 50%
      .comment-link
        vertical-align middle
        width 100%
        text-align center
        padding 0
        i
          font-size 90%
        &.half
          width 50%
  .article-header
    height header-height
    line-height header-height
    margin-top - content-padding
    margin-left - content-padding
    margin-right - content-padding
    position relative
  .article-title
    display inline-block
    padding-left content-padding
    padding-right content-padding
    position absolute
    left 0
    right 130px
    overflow-wrap normal
    white-space nowrap
    overflow-x auto
    text-transform uppercase
    font-size 24px
    font-weight bold
  .article-date
    box-sizing border-box
    width 130px
    display inline-block
    vertical-align top
    line-height header-height
    padding-left content-padding
    padding-right content-padding
    font-size 80%
    position absolute
    right 0
  a.article-date
    &:hover
      background-color primary-color
      color #fff
  .pagination
    width 100%
    height pagination-height
    line-height pagination-height
    position relative
    a
      vertical-align top
      display inline-block
      height pagination-height
      line-height pagination-height
      width pagination-height
      text-align center
      &:hover
        background-color primary-color
        color #fff
    .left
      width 50%
      text-align left
      position absolute
    .right
      width 50%
      text-align right
      position absolute
      right 0
    .all
      width 100%    
.staticman button,
a.archive-list-link,
a.more-link,
a.comment-link
  position relative

.staticman button,
a.article-title,
a.archive-list-link,
a.more-link,
a.comment-link
  color primary-color
  z-index 1
  &:hover
    color #fff
  &:before
    content ""
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color primary-color
    visibility hidden
    transform scaleX(0)
    transform-origin 0
    transition all .3s ease-in-out 0s
    margin-right - content-padding
    z-index -1
  &:hover:before
    visibility visible
    transform scaleX(1)
code
  font-family font-default
  color code-color
.content article .article-content figcaption
  margin-top -10px
  margin-left -20px
  margin-right -20px
  padding-left 20px
  padding-right 20px
  padding-top 10px
  padding-bottom 10px
  color #eee
  position relative
// staticman
.staticman
  .comment-empty
    padding-top 30px
    padding-bottom 30px
    text-align center
  form 
    position relative
    max-width 360px
    margin 0 auto
    text-align center
  form input 
    outline 0
    background background-color
    width 100%
    border 0
    margin 0 0 15px
    padding 15px
    box-sizing border-box
    font-size 14px
  form textarea
    outline 0
    background background-color
    width 100%
    max-width 100%
    border 0
    margin 0 0 15px
    padding 15px
    box-sizing border-box
    font-size 14px
    min-height 80px
  form button
    outline 0
    background-color background-color
    width 100%
    border 0
    padding 15px
    color #222
    font-size 14px
    cursor pointer
    transition-property color,background-color
    transition-duration .3s
    transition-timing-function ease-in-out 
    transition-delay 0s
// comment list
  .comments-list
    padding-left 0
    list-style-type none
  .comment-box
    padding 10px
    .comment-head
      padding 10px
      line-height 36px
    .comment-date
      font-size 12px
      color lighten(primary-color,40%)
    .comment-name
      font-size 14px  
    .comment-content
      padding 10px
// search
div.search-form-wrapper
  max-width 320px
  height 40px
  position relative
  margin-bottom content-padding
  .search-form
    span
      position absolute
      left 0
      right 40px
      background background-color
    input
      outline 0
      background background-color
      border 0
      padding 0 20px
      height 40px
      line-height 40px
      font-size 14px
      box-sizing border-box
      width 100%
    button
      text-align center
      position absolute
      right 0
      outline 0
      background primary-color
      border 0
      padding 0
      height 40px
      line-height 40px
      color #fff
      font-size 14px
      cursor pointer
      width 40px
      box-sizing border-box
      transition all .3s ease-in-out 0s
      &:hover
        color primary-color
        background-color background-color
      &:before
        display inline-block
        width 40px
        text-align center
section.content-item.archive.tags
  padding-bottom content-padding
// miscellaneous
.article-list,
.archive-list
  margin-bottom - content-padding
ul.archive-list
  list-style-type none
  padding 0
  margin-top 0
  margin-left - content-padding
  margin-right - content-padding
li.archive-list-item
  line-height header-height
  a
    box-sizing border-box
    display inline-block
    padding-left content-padding
    padding-right content-padding
    width 100%
.archive
  .article-header
    margin-top 0
    margin-bottom 0

.icon-time
  &:before
    margin-right 5px
    position relative
.katex-display
  overflow-x auto
  margin-left - content-padding !important
  margin-right - content-padding !important
  padding-left content-padding 
  padding-right content-padding
  padding-top 10px
  padding-bottom 10px
  background-color #232323
  color white
.error
  h1
    text-align center
    line-height 200px
.pullquote.left
  float left
  margin-right 0
.pullquote.right
  float right
  margin-left 0
  border-right 5px solid #e74c3c
  border-left-width 0