title-height=60px
link-height=header-height - title-height
#content > .header
  height header-height
  text-align center
  .title
    height title-height
    line-height title-height
    a
      font-size 28px
      font-weight bold
  a
    height link-height
    line-height link-height
    padding-top 3px
    padding-left 3px
    padding-right 3px
    padding-bottom 3px
    text-decoration none
    text-align: center;
    &:hover
      background-color primary-color
      color #fff