.katex-display,
.katex
  background-color primary-color
  color #fff
  margin-left 0 - content-padding !important
  margin-right: 0 - content-padding !important
  padding-top 10px
  padding-bottom 10px
.katex
  display block
  padding-left 2 * content-padding
  padding-right 2 * content-padding
  margin-top 10px
  margin-bottom 10px