.search
  background-color #fff
  padding-top content-padding
  padding-left content-padding 
  padding-bottom content-padding 
  padding-right content-padding
  form
    margin-bottom 1em
    input[type=text]
      font-size 15px
      -webkit-appearance none
      height 24px
      width 120px
      line-height 24px
      padding-top 0
      padding-left 10px
      padding-bottom 0
      padding-right 10px
      border-style solid
      border-width 1px
      border-color primary-color
      -webkit-border-radius 0px
      border-radius 0px
      color primary-color
      outline none
      vertical-align bottom

    input[type=submit]
      margin-left 5px
      -webkit-appearance none
      height 26px
      width 46px
      border 0
      background primary-color
      color #fff
      cursor pointer
      -webkit-border-radius 0px
      border-radius 0px
      outline none
#search-result
  margin-top 10px
  div
    margin-top 10px
    
::-webkit-input-placeholder
  color primary-color
  font-size 16px

:-moz-placeholder
  color primary-color
  font-size 16px

::-moz-placeholder
  color primary-color
  font-size 16px

:-ms-input-placeholder
  color primary-color
  font-size 16px