.staticman
  background-color #fff
  padding-top content-padding
  padding-left content-padding
  padding-bottom content-padding
  padding-right content-padding
  
  h3 
    height 40px
    line-height 40px
    margin-bottom 20px
    border-bottom-width 1px
    border-bottom-color primary-color
    border-bottom-style solid
  form 
    padding-bottom 35px
    border-bottom-width 1px
    border-bottom-color primary-color
    border-bottom-style solid
    position relative
  #alert-wrapper
    color red
    height 40px
    line-height 40px
    vertical-align top
  span
    display inline-block
  span.powered-by
    margin-top 10px
    line-height 26px
    font-size 14px
    color #999
    margin-left 54px
    position absolute

  input,textarea
    -webkit-appearance none
    outline none
    vertical-align top
    display inline-block
  input[type=text],input[type=email],textarea
    border-width 1px
    border-color primary-color
    padding-top 4px
    padding-bottom 4px
    padding-left 6px
    padding-right 6px

  input[type=submit]
    margin-top 10px
    height 26px
    width 46px
    border 0
    background primary-color
    color #fff
    cursor pointer
    -webkit-border-radius 0px
    border-radius 0px

  input[type=text],input[type=email]
    font-size 15px
    height 24px
    width 150px
  textarea
    height 100px
    width 150px
    resize: none;

  label
    padding-top 4px
    vertical-align top
    display inline-block
    height 30px
    margin-bottom 10px
    width 100px

  .comment-empty
    height 100px
    line-height 100px
    text-align center

  .comment
    margin-top 40px
    .comment-field
      height 25px
      line-height 25px
      margin-top 10px
      color #999
      .comment-label
        vertical-align top
        width 100px
      .comment-value
        vertical-align top