min-font-size=12px
font-size-step=1
min-color=lighten(primary-color,60%)
color-step=50%
.tags
  background-color #fff
  padding-top content-padding
  padding-left content-padding 
  padding-bottom content-padding 
  padding-right content-padding
  span
    display block
  
  for $num in (1..10)
    a.level-{$num}
      color darken(min-color,color-step * $num)
      font-size min-font-size + font-size-step * $num

  a
    height 30px
    line-height 30px
    margin-top 10px
    margin-right 10px
    display inline-block
    text-decoration none
    padding-left 5px
    padding-right 5px
    &:hover
      transform:scale(1.5);
      -ms-transform:scale(1.5); /* IE 9 */
      -moz-transform:scale(1.5); /* Firefox */
      -webkit-transform:scale(1.5); /* Safari and Chrome */
      -o-transform:scale(1.5); /* Opera */
      background-color primary-color
      color #fff
