.toc
  background-color #fff
  padding-top content-padding
  padding-left content-padding
  padding-right content-padding
  list-style-position inside
  .toc-item
    padding-left 0
    .toc-item
      padding-left 10px
      .toc-item
        padding-left 10px
        .toc-item
          padding-left 10px
          .toc-item
            padding-left 10px