primary-color = #222
background-color = #f3f3f3
text-color = #000
code-color = #f99157
link-color = #dc322f
header-height = 100px
footer-height = 50px
content-width = 900px
content-padding = 20px 
font-default = "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
