// flat colors
turquoise = #1abc9c
emerald = #2ecc71
peter-river = #3498db
amethyst = #9b59b6
wet-asphalt = #34495e
green-sea = #16a085
nephritis = #27ae60
belize-hole = #2980b9
wisteria = #8e44ad
midnight-blue = #2c3e50
sun-flower = #f1c40f
carrot = #e67e22
alizarin = #e74c3c
clouds = #ecf0f1
concrete = #95a5a6
orange = #f39c12
pumpkin = #d35400
pomegranate = #c0392b
silver = #bdc3c7
asbestos = #7f8c8d
// color config
primary-color = alizarin
background-color = clouds
code-color = turquoise
text-color = wet-asphalt
// size
header-height = 50px
footer-height = 50px
pagination-height = footer-height
content-width = 900px
side-width = 50px
content-padding = 20px
menu-item-width = 30px
menu-length = hexo-config('menu.length')
menu-width = menu-item-width * menu-length
// font
font-default = "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
// icon
icomoon-font-path ?= "../fonts"

icon-time = "\e8b5"
icon-previous = "\e5c4"
icon-down = "\e5db"
icon-next = "\e5c8"
icon-up = "\e5d8"
icon-tag = "\e8e7"
icon-comment = "\e0cb"
icon-copyright = "\e90c"
icon-date = "\e916"
icon-more = "\e5cf"
icon-archive = "\e2c8"
icon-category = "\e241"
icon-home = "\e88a"
icon-search = "\e8b6"
